<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Page</title>
    <style>
        body {
            font-family: monospace;
            background-color: black;
            color: aliceblue;
        }
    </style>
</head>

<body>
    <h1>This is home page</h1>
    <h3>
        <%= 1 + 4 %>
            <%= ['Hello','World'][2] %>
    </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae praesentium cum asperiores expedita, ab nisi
        hic optio quia, amet velit magnam numquam neque. Esse neque a, dolor excepturi exercitationem eveniet!</p>
    <button>Hello</button>
</body>

</html>