<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Create New Post - Quora Posts</title>
    <link rel="stylesheet" href="/new.css">
</head>

<body>
    <div class="container">
        <!-- New Post Form -->
        <form method="post" action="/posts" class="new-post-form">
            <label for="userName">User Name:</label>
            <input type="text" id="userName" name="username" required>

            <label for="postContent">Post Content:</label>
            <textarea id="postContent" rows="5" name="content" required></textarea>

            <button type="submit">Post</button>
        </form>


    </div>
</body>

</html>