<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/shoe.css">
    <title>Single Post - <%= post.username %>
    </title>
</head>

<body>
    <div class="container">
        <div class="post">
            <div class="post-header">
                <div class="user-info">
                    <h3>
                        <%= post.username %>
                    </h3>
                    <p>Post id : <%= post.id %>
                    </p>
                </div>
            </div>
            <div class="post-content">
                <p>
                    <%= post.content %>
                </p>
            </div>
            <div class="post-footer">
                <button class="downvote-btn">Edit</button>
                <button class="comment-btn">Comment</button>
            </div>
        </div>
    </div>
</body>

</html>